<script type="text/javascript">

    function rejectFriendRequest(id){
        let csrf = document.querySelector('input[name="csrfmiddlewaretoken"]');
        payload = {
            "friend_request_id": id,
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            headers: {
                'X-CSRFToken' : csrf.value,
            },
            url: "{% url 'reject-friend-request' %}",
            timeout: 5000,
            data: payload,
            success: function(data){
                if(data['result'] == 'success'){
                    alert("Request Rejected Successfully")
                }else{
                    alert(data['response'])
                }
            },
            error: function(data){
                alert("Something went wrong: " + data)
            },
            complete: function(data){
                location.reload()
            }
        })
    }

</script>