<script type="text/javascript">

    function sendFriendRequest(id){
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        payload = {
            "receiver_user_id": id,
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            headers: {
                'X-CSRFToken' : csrftoken,
            },
            url: "{% url 'friend-request' %}",
            timeout: 5000,
            data: payload,
            success: function(data){
                if(data['result'] == 'success'){
                    alert("Request Sent Successfully")
                }else{
                    alert(data['response'])
                }
            },
            error: function(data){
                alert("Something went wrong: " + data)
            },
            complete: function(data){
                location.reload()
            }
        })
    }

</script>